################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Scz.DesignPattern.Visitor/obj/Scz.DesignPattern.Visitor.csproj.nuget.g.targets
/Scz.DesignPattern.Visitor/obj/Scz.DesignPattern.Visitor.csproj.nuget.g.props
/Scz.DesignPattern.Visitor/obj/Scz.DesignPattern.Visitor.csproj.nuget.dgspec.json
/Scz.DesignPattern.Visitor/obj/Scz.DesignPattern.Visitor.csproj.nuget.cache
/Scz.DesignPattern.Visitor/obj/Release/netcoreapp2.2/Scz.DesignPattern.Visitor.AssemblyInfoInputs.cache
/Scz.DesignPattern.Visitor/obj/Release/netcoreapp2.2/Scz.DesignPattern.Visitor.AssemblyInfo.cs
/Scz.DesignPattern.Visitor/obj/Release/netcoreapp2.2
/Scz.DesignPattern.Visitor/obj/project.assets.json
/Scz.DesignPattern.Visitor/obj/Debug/netcoreapp2.2/Scz.DesignPattern.Visitor.csprojAssemblyReference.cache
/Scz.DesignPattern.Visitor/obj/Debug/netcoreapp2.2/Scz.DesignPattern.Visitor.assets.cache
/Scz.DesignPattern.Visitor/obj/Debug/netcoreapp2.2/Scz.DesignPattern.Visitor.AssemblyInfoInputs.cache
/Scz.DesignPattern.Visitor/obj/Debug/netcoreapp2.2/Scz.DesignPattern.Visitor.AssemblyInfo.cs
/Scz.DesignPattern.Visitor/obj/Debug/netcoreapp2.2
/Scz.DesignPattern.Visitor/obj
/Scz.DesignPattern.TemplateMethod/obj/Scz.DesignPattern.TemplateMethod.csproj.nuget.g.targets
/Scz.DesignPattern.TemplateMethod/obj/Scz.DesignPattern.TemplateMethod.csproj.nuget.g.props
/Scz.DesignPattern.TemplateMethod/obj/Scz.DesignPattern.TemplateMethod.csproj.nuget.dgspec.json
/Scz.DesignPattern.TemplateMethod/obj/Scz.DesignPattern.TemplateMethod.csproj.nuget.cache
/Scz.DesignPattern.TemplateMethod/obj/Release/netcoreapp2.2/Scz.DesignPattern.TemplateMethod.AssemblyInfoInputs.cache
/Scz.DesignPattern.TemplateMethod/obj/Release/netcoreapp2.2/Scz.DesignPattern.TemplateMethod.AssemblyInfo.cs
/Scz.DesignPattern.TemplateMethod/obj/Release/netcoreapp2.2
/Scz.DesignPattern.TemplateMethod/obj/project.assets.json
/Scz.DesignPattern.TemplateMethod/obj/Debug/netcoreapp2.2/Scz.DesignPattern.TemplateMethod.assets.cache
/Scz.DesignPattern.TemplateMethod/obj/Debug/netcoreapp2.2/Scz.DesignPattern.TemplateMethod.AssemblyInfoInputs.cache
/Scz.DesignPattern.TemplateMethod/obj/Debug/netcoreapp2.2/Scz.DesignPattern.TemplateMethod.AssemblyInfo.cs
/Scz.DesignPattern.TemplateMethod/obj/Debug/netcoreapp2.2
/Scz.DesignPattern.TemplateMethod/obj
/Scz.DesignPattern.Strategy/obj/Scz.DesignPattern.Strategy.csproj.nuget.g.targets
/Scz.DesignPattern.Strategy/obj/Scz.DesignPattern.Strategy.csproj.nuget.g.props
/Scz.DesignPattern.Strategy/obj/Scz.DesignPattern.Strategy.csproj.nuget.dgspec.json
/Scz.DesignPattern.Strategy/obj/Scz.DesignPattern.Strategy.csproj.nuget.cache
/Scz.DesignPattern.Strategy/obj/Release/netcoreapp2.2/Scz.DesignPattern.Strategy.AssemblyInfoInputs.cache
/Scz.DesignPattern.Strategy/obj/Release/netcoreapp2.2/Scz.DesignPattern.Strategy.AssemblyInfo.cs
/Scz.DesignPattern.Strategy/obj/Release/netcoreapp2.2
/Scz.DesignPattern.Strategy/obj/project.assets.json
/Scz.DesignPattern.Strategy/obj/Debug/netcoreapp2.2/Scz.DesignPattern.Strategy.assets.cache
/Scz.DesignPattern.Strategy/obj/Debug/netcoreapp2.2/Scz.DesignPattern.Strategy.AssemblyInfoInputs.cache
/Scz.DesignPattern.Strategy/obj/Debug/netcoreapp2.2/Scz.DesignPattern.Strategy.AssemblyInfo.cs
/Scz.DesignPattern.Strategy/obj/Debug/netcoreapp2.2
/Scz.DesignPattern.Strategy/obj
/Scz.DesignPattern.State/obj/Scz.DesignPattern.State.csproj.nuget.g.targets
/Scz.DesignPattern.State/obj/Scz.DesignPattern.State.csproj.nuget.g.props
/Scz.DesignPattern.State/obj/Scz.DesignPattern.State.csproj.nuget.dgspec.json
/Scz.DesignPattern.State/obj/Scz.DesignPattern.State.csproj.nuget.cache
/Scz.DesignPattern.State/obj/Release/netcoreapp2.2/Scz.DesignPattern.State.AssemblyInfoInputs.cache
/Scz.DesignPattern.State/obj/Release/netcoreapp2.2/Scz.DesignPattern.State.AssemblyInfo.cs
/Scz.DesignPattern.State/obj/Release/netcoreapp2.2
/Scz.DesignPattern.State/obj/project.assets.json
/Scz.DesignPattern.State/obj/Debug/netcoreapp2.2/Scz.DesignPattern.State.assets.cache
/Scz.DesignPattern.State/obj/Debug/netcoreapp2.2/Scz.DesignPattern.State.AssemblyInfoInputs.cache
/Scz.DesignPattern.State/obj/Debug/netcoreapp2.2/Scz.DesignPattern.State.AssemblyInfo.cs
/Scz.DesignPattern.State/obj/Debug/netcoreapp2.2
/Scz.DesignPattern.State/obj
/Scz.DesignPattern.Singleton/obj/Scz.DesignPattern.Singleton.csproj.nuget.g.targets
/Scz.DesignPattern.Singleton/obj/Scz.DesignPattern.Singleton.csproj.nuget.g.props
/Scz.DesignPattern.Singleton/obj/Scz.DesignPattern.Singleton.csproj.nuget.dgspec.json
/Scz.DesignPattern.Singleton/obj/Scz.DesignPattern.Singleton.csproj.nuget.cache
/Scz.DesignPattern.Singleton/obj/Release/netcoreapp2.1/Scz.DesignPattern.Singleton.AssemblyInfoInputs.cache
/Scz.DesignPattern.Singleton/obj/Release/netcoreapp2.1/Scz.DesignPattern.Singleton.AssemblyInfo.cs
/Scz.DesignPattern.Singleton/obj/Release/netcoreapp2.1
/Scz.DesignPattern.Singleton/obj/project.assets.json
/Scz.DesignPattern.Singleton/obj/Debug/netcoreapp2.1/Scz.DesignPattern.Singleton.csprojAssemblyReference.cache
/Scz.DesignPattern.Singleton/obj/Debug/netcoreapp2.1/Scz.DesignPattern.Singleton.assets.cache
/Scz.DesignPattern.Singleton/obj/Debug/netcoreapp2.1/Scz.DesignPattern.Singleton.AssemblyInfoInputs.cache
/Scz.DesignPattern.Singleton/obj/Debug/netcoreapp2.1/Scz.DesignPattern.Singleton.AssemblyInfo.cs
/Scz.DesignPattern.Singleton/obj/Debug/netcoreapp2.1
/Scz.DesignPattern.Singleton/obj
/Scz.DesignPattern.SimpleFactory/obj/Scz.DesignPattern.SimpleFactory.csproj.nuget.g.targets
/Scz.DesignPattern.SimpleFactory/obj/Scz.DesignPattern.SimpleFactory.csproj.nuget.g.props
/Scz.DesignPattern.SimpleFactory/obj/Scz.DesignPattern.SimpleFactory.csproj.nuget.dgspec.json
/Scz.DesignPattern.SimpleFactory/obj/Scz.DesignPattern.SimpleFactory.csproj.nuget.cache
/Scz.DesignPattern.SimpleFactory/obj/Release/netcoreapp2.2/Scz.DesignPattern.SimpleFactory.AssemblyInfoInputs.cache
/Scz.DesignPattern.SimpleFactory/obj/Release/netcoreapp2.2/Scz.DesignPattern.SimpleFactory.AssemblyInfo.cs
/Scz.DesignPattern.SimpleFactory/obj/Release/netcoreapp2.2
/Scz.DesignPattern.SimpleFactory/obj/project.assets.json
/Scz.DesignPattern.SimpleFactory/obj/Debug/netcoreapp2.2/Scz.DesignPattern.SimpleFactory.assets.cache
/Scz.DesignPattern.SimpleFactory/obj/Debug/netcoreapp2.2/Scz.DesignPattern.SimpleFactory.AssemblyInfoInputs.cache
/Scz.DesignPattern.SimpleFactory/obj/Debug/netcoreapp2.2/Scz.DesignPattern.SimpleFactory.AssemblyInfo.cs
/Scz.DesignPattern.SimpleFactory/obj/Debug/netcoreapp2.2
/Scz.DesignPattern.SimpleFactory/obj
/Scz.DesignPattern.Proxy/obj/Scz.DesignPattern.Proxy.csproj.nuget.g.targets
/Scz.DesignPattern.Proxy/obj/Scz.DesignPattern.Proxy.csproj.nuget.g.props
/Scz.DesignPattern.Proxy/obj/Scz.DesignPattern.Proxy.csproj.nuget.dgspec.json
/Scz.DesignPattern.Proxy/obj/Scz.DesignPattern.Proxy.csproj.nuget.cache
/Scz.DesignPattern.Proxy/obj/Release/netcoreapp2.2/Scz.DesignPattern.Proxy.AssemblyInfoInputs.cache
/Scz.DesignPattern.Proxy/obj/Release/netcoreapp2.2/Scz.DesignPattern.Proxy.AssemblyInfo.cs
/Scz.DesignPattern.Proxy/obj/Release/netcoreapp2.2
/Scz.DesignPattern.Proxy/obj/project.assets.json
/Scz.DesignPattern.Proxy/obj/Debug/netcoreapp2.2/Scz.DesignPattern.Proxy.csprojAssemblyReference.cache
/Scz.DesignPattern.Proxy/obj/Debug/netcoreapp2.2/Scz.DesignPattern.Proxy.assets.cache
/Scz.DesignPattern.Proxy/obj/Debug/netcoreapp2.2/Scz.DesignPattern.Proxy.AssemblyInfoInputs.cache
/Scz.DesignPattern.Proxy/obj/Debug/netcoreapp2.2/Scz.DesignPattern.Proxy.AssemblyInfo.cs
/Scz.DesignPattern.Proxy/obj/Debug/netcoreapp2.2
/Scz.DesignPattern.Proxy/obj
/Scz.DesignPattern.Prototype/obj/Scz.DesignPattern.Prototype.csproj.nuget.g.targets
/Scz.DesignPattern.Prototype/obj/Scz.DesignPattern.Prototype.csproj.nuget.g.props
/Scz.DesignPattern.Prototype/obj/Scz.DesignPattern.Prototype.csproj.nuget.dgspec.json
/Scz.DesignPattern.Prototype/obj/Scz.DesignPattern.Prototype.csproj.nuget.cache
/Scz.DesignPattern.Prototype/obj/Release/netcoreapp2.2/Scz.DesignPattern.Prototype.AssemblyInfoInputs.cache
/Scz.DesignPattern.Prototype/obj/Release/netcoreapp2.2/Scz.DesignPattern.Prototype.AssemblyInfo.cs
/Scz.DesignPattern.Prototype/obj/Release/netcoreapp2.2
/Scz.DesignPattern.Prototype/obj/project.assets.json
/Scz.DesignPattern.Prototype/obj/Debug/netcoreapp2.2/Scz.DesignPattern.Prototype.assets.cache
/Scz.DesignPattern.Prototype/obj/Debug/netcoreapp2.2
/Scz.DesignPattern.Observer/obj
/Scz.DesignPattern.Memento/obj
/Scz.DesignPattern.Mediator/obj
/Scz.DesignPattern.Iterator/obj
/Scz.DesignPattern.Interpreter/obj
/Scz.DesignPattern.Flyweight/obj
/Scz.DesignPattern.FactoryMethod/obj
/Scz.DesignPattern.Facade/obj
/Scz.DesignPattern.DelegationModel/obj
/Scz.DesignPattern.Decorator/obj
/Scz.DesignPattern.Composite/obj
/Scz.DesignPattern.Command/obj
/Scz.DesignPattern.ChainOfResponsibility/obj
/Scz.DesignPattern.Builder/obj
/Scz.DesignPattern.Bridge/obj
/Scz.DesignPattern.Adapter/obj
/Scz.DesignPattern.AbstractFactory/obj
/.vs
/Scz.DesignPattern.Observer/bin/Debug/netcoreapp2.2
