################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Scz.DesignPattern.Visitor/obj/Scz.DesignPattern.Visitor.csproj.nuget.g.targets
